@import './css/index.css';

body {
  margin: 0;
  background-color: black;
}

#slide {
  background-color: white;
  height: 100vh;
  display: grid;
  place-items: center;
  max-width: 1200px;
  margin: auto;
}

/*
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

.navitem {
  padding: 3px 10px;
}
.navitem.is-active {
  background-color: #eee;
}
*/
